.wrap{
    text-align: center;
}

.serchbar{
    border: 2px solid black;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;
}
.btn{
    background-color: rgb(54, 182, 233);
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}