.sidebar-main{
    height: auto;
    width: 40%;
    background-color: rgb(54, 182, 233);
}
.sidebar-img{
    position: relative;
}
.sidebar-img img{
    position: absolute;
    left: -45%;
    top: -150px;
}
.sidebar-middle{
    padding: 10px;
    color: white;
    font-size: 98px;
    position: absolute;
    top: 25%;
    background-color: rgba(47,79,79,0.776);
    max-width: 735px;
    height: 300px;
    padding-top: 40px;
}
.content-end{
    position: absolute;
    top: 70%;
}
.heading-sec{
    font-size: 32px;
    color: white;
    position: absolute;
    top: 55%;
    padding-left: 10px;
    padding-top: 10px;
}
.content-end{
    color: white;
    padding-left: 50px;
    padding-top: 70px;
    font-size: 36px;
    font-weight: 400;
}
